<!-- <div class="text-layout">
  <h1>{{nombre|titlecase }}</h1>
  <h1>{{valor|number }}</h1>

  <h1>{{obj|json }}</h1>
</div>

<button
class="p-button-help"
icon="pi pi-bell" iconPos="right" 
pButton label="Cambiar name" (click)="mostrarNomber()">
</button>

<p-card [header]="nombre | titlecase"  subheader="Subtitulo">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo non voluptatem optio officiis, dolorem labore, earum a laborum, laudantium qui quas nisi ab deleniti perferendis? Quae corrupti id eius totam?
</p-card > -->
<!-- <hr> -->
<!-- <p-card>
  <ng-template pTemplate="header">
      TITULOOOOOOOOOOOOOOOOOOOOOOOO
  </ng-template>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi explicabo assumenda, ab dolore ipsum debitis saepe quae, soluta sint voluptas placeat beatae quaerat itaque repudiandae iure maxime nostrum obcaecati provident?
  <ng-template pTemplate="footer">
      Footer content here Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo eos nam voluptatum omnis voluptate velit voluptas dolore distinctio, quis eum non voluptatem illum consectetur laboriosam. Quasi et saepe aspernatur perferendis.
  </ng-template>
</p-card> -->


<app-app-menu></app-app-menu>

<router-outlet></router-outlet>