<h1>
    {{ (heroe.id) ? 'Editar' : 'Nuevo' }} <!--  ternario -->
    <small>{{heroe.superhero}}</small>
</h1>


<div fxLayout="row" fxLayoutGap="40px"
fxLayout.xs="column">

    <div fxFlex="50" fxLayout="column">

        <div fxLayout="row" fxLayoutGap="20px"
        fxLayout.xs="column">
            <mat-form-field fxFlex="100"> 
            <mat-label>
                Super Héroe
            </mat-label>
            <input [(ngModel)]="heroe.superhero" matInput type="text" name="" id="" required>
        </mat-form-field>

        <mat-form-field fxFlex="100"> 
            <mat-label>
                {{'Alter ego' | titlecase}}
            </mat-label>
            <input [(ngModel)]="heroe.alter_ego" matInput type="text" name="" id="" required>
        </mat-form-field>
        </div>


        <mat-form-field fxFlex="100"> 
            <mat-label>
                {{'Primera aparición' | titlecase}}
            </mat-label>
            <input [(ngModel)]="heroe.first_appearance" matInput type="text" name="" id="" required>
        </mat-form-field>

        <mat-form-field fxFlex="100"> 
            <mat-label>
                {{'personajes' | titlecase}}
            </mat-label>
            <input [(ngModel)]="heroe.characters" matInput type="text" name="" id="" required>
        </mat-form-field>

        <mat-form-field > 
            <mat-label>
                {{'creador' | titlecase}}
            </mat-label>
            <mat-select [(ngModel)]="heroe.publisher" required="">
                <mat-option 
                [value]="item.id"
                *ngFor="let item of publisher">
                    {{item.desc}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field > 
            <mat-label>
                {{'foto url' | titlecase}}
            </mat-label>
            <input [(ngModel)]="heroe.alt_img" matInput type="url" name="" id="" required>
        </mat-form-field>

        <br>
        <div fxLayout>
        <button mat-raised-button color="primary" (click)="guardar()">
            <mat-icon>edit</mat-icon>
            {{ (heroe.id) ? 'Editar' : 'Crear' }}
        </button>

            <span class="spacer"></span>
            <button (click)="borrarHeroe()" *ngIf="heroe.id" mat-raised-button color="warn">
                <mat-icon>remove</mat-icon>
                Borrar
            </button>
        </div>

    </div>
    <div fxFlex="50"><!-- Le digo cuanto quiero que ocupe  -->
        <img [src]="heroe | imagen" alt="">
    </div>

</div>